################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_yzx3snhc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_yzx3snhc_wpftmp.assets.cache
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_yzx3snhc_wpftmp.AssemblyInfoInputs.cache
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_yzx3snhc_wpftmp.AssemblyInfo.cs
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_bztusnh0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_bztusnh0_wpftmp.csproj.BuildWithSkipAnalyzers
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_bztusnh0_wpftmp.assets.cache
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_bztusnh0_wpftmp.AssemblyInfoInputs.cache
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_bztusnh0_wpftmp.AssemblyInfo.cs
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_bs0w4l0t_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_bs0w4l0t_wpftmp.assets.cache
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_bs0w4l0t_wpftmp.AssemblyInfoInputs.cache
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_bs0w4l0t_wpftmp.AssemblyInfo.cs
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_55mtkecw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_55mtkecw_wpftmp.csproj.BuildWithSkipAnalyzers
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_55mtkecw_wpftmp.assets.cache
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_55mtkecw_wpftmp.AssemblyInfoInputs.cache
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_55mtkecw_wpftmp.AssemblyInfo.cs
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_4n23cvg4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_4n23cvg4_wpftmp.assets.cache
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_4n23cvg4_wpftmp.AssemblyInfoInputs.cache
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup_4n23cvg4_wpftmp.AssemblyInfo.cs
/CCcustomPopup/obj/Debug/net5.0-windows/CCcustomPopup.baml
/CCcustomPopup/obj/Debug/net5.0-windows
/CCcustomPopup/obj/CCcustomPopup_yzx3snhc_wpftmp.csproj.nuget.g.targets
/CCcustomPopup/obj/CCcustomPopup_yzx3snhc_wpftmp.csproj.nuget.g.props
/CCcustomPopup/obj/CCcustomPopup_yzx3snhc_wpftmp.csproj.nuget.dgspec.json
/CCcustomPopup/obj/CCcustomPopup_bs0w4l0t_wpftmp.csproj.nuget.g.targets
/CCcustomPopup/obj/CCcustomPopup_bs0w4l0t_wpftmp.csproj.nuget.g.props
/CCcustomPopup/obj/CCcustomPopup_bs0w4l0t_wpftmp.csproj.nuget.dgspec.json
/CCcustomPopup/obj/CCcustomPopup_4n23cvg4_wpftmp.csproj.nuget.g.targets
/CCcustomPopup/obj/CCcustomPopup_4n23cvg4_wpftmp.csproj.nuget.g.props
/CCcustomPopup/obj/CCcustomPopup_4n23cvg4_wpftmp.csproj.nuget.dgspec.json
/CCcustomPopup/obj
/.vs/progettoRistorante/FileContentIndex/ac26bdf2-0d44-4eea-8bc5-45369e23568f.vsidx
/.vs/progettoRistorante/FileContentIndex/9a9adc82-78b2-4e08-9f08-665f74634448.vsidx
/.vs/progettoRistorante/FileContentIndex/83169219-3631-4f71-a328-7c9784e20536.vsidx
/.vs/progettoRistorante/FileContentIndex/82b55836-7f2a-4e69-82d8-27d51a603785.vsidx
/.vs/progettoRistorante/FileContentIndex
/.vs/slnx.sqlite
